@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@use "sass:map";
@keyframes top {
  0% {
    transform: translateY(0) rotate(0);
    transform-origin: center;
    background-color: #d9851e; }
  30% {
    transform: translateY(1.1rem); }
  100% {
    transform: translateY(1.1rem) rotate(45deg);
    transform-origin: center;
    background-color: #ffffff; } }

@keyframes middle {
  0% {
    opacity: 1; }
  30% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes bottom {
  0% {
    transform: translateY(0) rotate(0);
    transform-origin: center;
    background-color: #d9851e; }
  30% {
    transform: translateY(-1.1rem); }
  100% {
    transform: translateY(-1.1rem) rotate(-45deg);
    transform-origin: center;
    background-color: #ffffff; } }

@keyframes modal {
  0% {
    background-color: rgba(0, 0, 0, 0);
    z-index: 50; }
  100% {
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 50; } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  min-height: 100vh;
  background-color: #fcf7f0;
  color: #140c02;
  display: flex;
  flex-direction: column; }

*,
*::before,
*::after {
  position: relative;
  box-sizing: inherit; }

a,
a:link,
a:visited,
a:active {
  text-decoration: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline; }

.flex {
  display: flex; }

.v-align {
  align-items: center; }

.h-align {
  justify-content: center; }

@media (max-width: 599px) {
  .hide-phone {
    visibility: hidden;
    display: none; } }

@media (max-width: 599px) {
  .hide-phone {
    visibility: hidden;
    display: none; } }

@media (max-width: 599px) {
  .hide-phone {
    visibility: hidden;
    display: none; } }

@media (max-width: 599px) {
  .hide-phone {
    visibility: hidden;
    display: none; } }

.site-header {
  flex-direction: column; }

.banner {
  height: 10rem;
  width: 100%;
  background-color: #fcf7f0; }
  .banner__inner {
    width: 102.4rem;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem; }
  @media (max-width: 599px) {
    .banner {
      visibility: hidden;
      display: none; } }
  @media (max-width: 599px) {
    .banner {
      visibility: hidden;
      display: none; } }
  @media (max-width: 599px) {
    .banner {
      visibility: hidden;
      display: none; } }
  @media (max-width: 599px) {
    .banner {
      visibility: hidden;
      display: none; } }

.logo {
  padding: 0.2rem 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  background-color: #ffffff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), 0 0 5px -3px black;
  transform: rotate(-5deg);
  height: min-content; }
  .logo--orange {
    display: inline-block;
    color: #d9851e;
    transform: translateY(0.2rem) rotateX(180deg); }
  @media (max-width: 599px) {
    .logo {
      transform: rotate(-5deg) translateY(-0.3rem) translateX(-1.5rem) scale(0.8); } }
  @media (max-width: 599px) {
    .logo {
      transform: rotate(-5deg) translateY(-0.3rem) translateX(-1.5rem) scale(0.8); } }
  @media (max-width: 599px) {
    .logo {
      transform: rotate(-5deg) translateY(-0.3rem) translateX(-1.5rem) scale(0.8); } }
  @media (max-width: 599px) {
    .logo {
      transform: rotate(-5deg) translateY(-0.3rem) translateX(-1.5rem) scale(0.8); } }

.search__input {
  height: 3rem;
  width: 25rem;
  border-radius: 20px;
  padding-left: 2rem;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.2), 0 0 5px -3px rgba(0, 0, 0, 0.4);
  transform: translateX(5rem);
  transition: width 1s; }
  .search__input:focus {
    outline: none;
    width: 35rem; }

.search__btn {
  height: 3rem;
  width: 5rem;
  background-color: #d9851e;
  color: #ffffff;
  border: 0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  transition: transform 0.3s; }
  .search__btn:focus {
    outline: none; }
  .search__btn:active {
    transform: translateY(0.1rem); }

.navbar {
  height: 5rem;
  background-color: #140c02;
  box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.3); }
  .navbar__inner {
    width: 102.4rem;
    padding-left: 3rem;
    padding-right: 3rem; }
    @media (max-width: 599px) {
      .navbar__inner {
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: space-between; } }
    @media (max-width: 599px) {
      .navbar__inner {
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: space-between; } }
    @media (max-width: 599px) {
      .navbar__inner {
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: space-between; } }
    @media (max-width: 599px) {
      .navbar__inner {
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: space-between; } }

.nav-list__item {
  list-style: none; }
  @media (min-width: 600px) {
    .nav-list__item:not(:last-of-type) {
      margin-right: 7rem; } }
  @media (min-width: 600px) {
    .nav-list__item:not(:last-of-type) {
      margin-right: 7rem; } }
  @media (min-width: 600px) {
    .nav-list__item:not(:last-of-type) {
      margin-right: 7rem; } }
  @media (min-width: 600px) {
    .nav-list__item:not(:last-of-type) {
      margin-right: 7rem; } }
  @media (min-width: 900px) {
    .nav-list__item:not(:last-of-type) {
      margin-right: 10rem; } }
  @media (min-width: 900px) {
    .nav-list__item:not(:last-of-type) {
      margin-right: 10rem; } }
  @media (min-width: 900px) {
    .nav-list__item:not(:last-of-type) {
      margin-right: 10rem; } }
  @media (min-width: 900px) {
    .nav-list__item:not(:last-of-type) {
      margin-right: 10rem; } }
  .nav-list__item > a {
    color: #d9851e;
    font-weight: 600;
    font-size: 1.1rem;
    transition: color 0.3s; }
    .nav-list__item > a:hover {
      color: #ffffff; }

@media (max-width: 599px) {
  .nav-list {
    height: 70%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nav-list__item {
      margin-top: 3rem; }
      .nav-list__item > a {
        color: #ffffff;
        font-weight: 500;
        font-size: 2rem;
        margin-top: 5rem; } }

@media (max-width: 599px) {
  .nav-list {
    height: 70%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nav-list__item {
      margin-top: 3rem; }
      .nav-list__item > a {
        color: #ffffff;
        font-weight: 500;
        font-size: 2rem;
        margin-top: 5rem; } }

@media (max-width: 599px) {
  .nav-list {
    height: 70%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nav-list__item {
      margin-top: 3rem; }
      .nav-list__item > a {
        color: #ffffff;
        font-weight: 500;
        font-size: 2rem;
        margin-top: 5rem; } }

@media (max-width: 599px) {
  .nav-list {
    height: 70%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nav-list__item {
      margin-top: 3rem; }
      .nav-list__item > a {
        color: #ffffff;
        font-weight: 500;
        font-size: 2rem;
        margin-top: 5rem; } }

.social-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 3rem;
  background-color: #d9851e;
  color: #ffffff;
  justify-content: space-evenly;
  padding: 0 7rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1); }
  @media (min-width: 600px) {
    .social-bar {
      padding: 0 4rem; } }
  @media (min-width: 600px) {
    .social-bar {
      padding: 0 4rem; } }
  @media (min-width: 600px) {
    .social-bar {
      padding: 0 4rem; } }
  @media (min-width: 600px) {
    .social-bar {
      padding: 0 4rem; } }
  @media (max-width: 599px) {
    .social-bar {
      width: 70%;
      padding: 0;
      position: unset;
      background-color: transparent; } }
  @media (max-width: 599px) {
    .social-bar {
      width: 70%;
      padding: 0;
      position: unset;
      background-color: transparent; } }
  @media (max-width: 599px) {
    .social-bar {
      width: 70%;
      padding: 0;
      position: unset;
      background-color: transparent; } }
  @media (max-width: 599px) {
    .social-bar {
      width: 70%;
      padding: 0;
      position: unset;
      background-color: transparent; } }
  .social-bar .fab {
    font-size: 1.8rem;
    transition: all 0.3s; }
    .social-bar .fab:hover {
      transform: rotate(360deg);
      font-size: 2.2rem; }

.menu-btn {
  flex-direction: column;
  justify-content: space-around;
  height: 3.4rem;
  width: 3.4rem;
  background-color: transparent;
  border: none;
  z-index: 100; }
  @media (min-width: 600px) {
    .menu-btn {
      display: none;
      visibility: hidden; } }
  @media (min-width: 600px) {
    .menu-btn {
      display: none;
      visibility: hidden; } }
  @media (min-width: 600px) {
    .menu-btn {
      display: none;
      visibility: hidden; } }
  @media (min-width: 600px) {
    .menu-btn {
      display: none;
      visibility: hidden; } }
  .menu-btn:focus {
    outline: none; }
  .menu-btn__line {
    width: 3.4rem;
    height: 0.4rem;
    background-color: #d9851e; }

.menu-btn-open :nth-child(1) {
  animation: top 0.7s 0.1s 1 both; }

.menu-btn-open :nth-child(2) {
  animation: middle 0.7s 0.1s 1 both; }

.menu-btn-open :nth-child(3) {
  animation: bottom 0.7s 0.1s 1 both; }

.menu-btn-close :nth-child(1) {
  animation: top 0.7s 0.1s 1 reverse both; }

.menu-btn-close :nth-child(2) {
  animation: middle 0.7s 0.1s 1 reverse both; }

.menu-btn-close :nth-child(3) {
  animation: bottom 0.7s 0.1s 1 reverse both; }

.main-wrapper {
  margin-top: 5rem;
  max-width: 102.4rem;
  height: 100%;
  flex-direction: column;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3), 10px 10px 30px rgba(0, 0, 0, 0.2); }
  .main-wrapper__header {
    flex-direction: column;
    padding: 3rem;
    background-color: #ffffff; }
    .main-wrapper__header--desc {
      margin: 2rem 5rem 0 5rem; }
      @media (max-width: 599px) {
        .main-wrapper__header--desc {
          margin: 2rem 3rem 0 3rem; } }
      @media (max-width: 599px) {
        .main-wrapper__header--desc {
          margin: 2rem 3rem 0 3rem; } }
      @media (max-width: 599px) {
        .main-wrapper__header--desc {
          margin: 2rem 3rem 0 3rem; } }
      @media (max-width: 599px) {
        .main-wrapper__header--desc {
          margin: 2rem 3rem 0 3rem; } }
  .main-wrapper__display {
    padding: 3rem;
    background-color: #ffffff; }
  @media (max-width: 599px) {
    .main-wrapper__header, .main-wrapper__display {
      padding: 2rem; } }
  @media (max-width: 599px) {
    .main-wrapper__header, .main-wrapper__display {
      padding: 2rem; } }
  @media (max-width: 599px) {
    .main-wrapper__header, .main-wrapper__display {
      padding: 2rem; } }
  @media (max-width: 599px) {
    .main-wrapper__header, .main-wrapper__display {
      padding: 2rem; } }

h1 {
  font-size: 2.3rem; }

.color-div {
  height: 0.5rem; }
  .color-div > * {
    width: 100%; }
  .color-div--light {
    background-color: #d9851e; }
  .color-div--dark {
    background-color: #140c02; }

.photo-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }
  .photo-wrapper__photo-box {
    flex-basis: 32%;
    margin-bottom: 2rem;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), 0 0 5px -2px rgba(0, 0, 0, 0.5); }
    @media (max-width: 599px) {
      .photo-wrapper__photo-box {
        flex-basis: 48%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 0 0 5px -2px rgba(0, 0, 0, 0.5); } }
    @media (max-width: 599px) {
      .photo-wrapper__photo-box {
        flex-basis: 48%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 0 0 5px -2px rgba(0, 0, 0, 0.5); } }
    @media (max-width: 599px) {
      .photo-wrapper__photo-box {
        flex-basis: 48%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 0 0 5px -2px rgba(0, 0, 0, 0.5); } }
    @media (max-width: 599px) {
      .photo-wrapper__photo-box {
        flex-basis: 48%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 0 0 5px -2px rgba(0, 0, 0, 0.5); } }
    .photo-wrapper__photo-box--photo {
      width: 100%;
      height: auto;
      padding: 3%; }

main {
  flex-grow: 1; }

.footer {
  height: 5rem;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 5rem; }
  .footer__inner {
    position: absolute;
    height: 4.5rem;
    width: 100%;
    bottom: 0;
    background: #140c02;
    color: #d9851e; }

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -100;
  background-color: rgba(0, 0, 0, 0); }
  .modal__inner {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center; }

.modal-open {
  animation: modal 0.7s 0.1s 1 both; }

.modal-close {
  animation: modal 0.7s 0.1s 1 reverse both; }

.no-scroll {
  overflow: hidden; }
